<% include partials/header %>
  <div class="ui main text container segment">
      <div class="ui huge header"><%= oferta.titulo %></div>
      <div class="ui top attached">
          <div class="item thumbnail">
              <div class="content">
                <h2>Sueldo</h2>
                <span>$ <%= oferta.sueldo %></span>
              </div>
              <div class="content">
                <h2>Horario</h2>
                <span>De <%= oferta.horario %></span>
              </div>
              <div class="description">
                <h2>Descripción</h2>
                <p><%= oferta.descripcion %></p>
              </div>
          </div>
          <div class="botones">
            <a class="ui orange basic button" href="/e/o/<%= oferta._id %>/editar">Editar</a>
          </div>
          <div class="botones">
            <form id="delete" action="/e/o/<%= oferta._id %>?_method=DELETE" method="POST">
              <button class="ui red basic button">Dar de baja</button>
            </form>
          </div>
      </div>

      <% solicitudes.forEach(function (solicitud) { %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
              <div class="caption">
                <h3><%= solicitud.solicitante.nombre %></h3>
              </div>
              <p>
                <a href="/descargar/<%= solicitud.solicitante.curriculum %>" class="btn btn-primary">Descargar</a>
              </p>
              <p><strong>Edad: <%= solicitud.solicitante.edad %></strong></p>
          </div>
        </div>
      <% }) %>
  </div>
<% include partials/footer %>
