<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= empresa.nombre %></div>
    <div class="ui top attached">
        <div class="item thumbnail">
          <img class="ui centered rounded image size" src="../../<%= empresa.logo %>">
          <div class="content">
            <h2>Correo</h2>
            <span><%= empresa.correo %></span>
          </div>
          <div class="content">
            <h2>Direccion</h2>
            <span><%= empresa.direccion %></span>
          </div>
          <div class="content">
            <h2>Numero</h2>
            <span><%= empresa.descripcion %></span>
          </div>
        </div>
        <!-- <div class="botones">
          <a class="ui purple basic button" href="/e/o">Ofertas</a>
        </div> -->
        <!-- <div class="botones">
          <form id="delete" action="/u <%= empresa._id %>" method="POST">
            <button class="ui green basic button">Descargar curriculum</button>
          </form>
        </div> -->
    </div>
</div>
<% include partials/footer %>
